*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 100vw;
    height: 100vh;
    background-image: url('../image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 600px;
    min-height: 50%;
    background: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: none;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    animation: containerEntrance 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

h1{
    color: #FFD93D;
    text-align: center;
}

.pesquisar-local{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.formulario input{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #ffffffe3;
    color: #333333;
    font-size: 1.2rem;
    text-align: center;
}

.formulario button{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #FFD93D;
    color: #333333;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.formulario button:hover{
    background-color: #FF8400;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 70%;
    animation: fadeIn 0.8s ease-in-out;
}

.info .temp{
    font-size: 1.8rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes containerEntrance {
    from {
        opacity: 0;
        transform: translateY(-30px) scale(0.98);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}